*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, 
h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td 
{
	margin: 0;
	padding: 0;
}


fieldset, img {	border: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

q:before, q:after { content: ''; }

strong { font-weight: bold; }

em { font-style: italic; }

a img {	border: none; } /* Gets rid of IE's blue borders */

a { text-decoration: none; }

body { font-size: 1em; /* For IE em scale bug */ }



/* ---------- Clearfix ---------- */
/* For modern browsers */
.cf:before,
.cf:after 
{
    content: "";
    display: table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf { zoom: 1; }



/* ---------- General ---------- */
p 
{
	margin-bottom: 1.25em; 
	color: #9498a1;
}

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 0.625em;  }



/* ---------- Typography ---------- */
body, form 
{
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
	line-height: 1.125em; 
}

p, .button, form input, ul#nav li ul, div.side-menu ul li a,  
.regular-ul, .custom-ul{ font-size: 0.75em;  }


h1 { font-size: 1.125em; }
h2 { font-size: 0.875em; }
h3 { font-size: 0.75em;  }
h4 { font-size: 0.685em; }
h5 { font-size: 0.625em; }



/* ---------- Colors ---------- */
a { color: #2069b4; }
	a:hover { color: #2a2e36; }

p a, p a:hover { border-bottom: 1px dotted; }

.blue 
{
	background-color: #2069b4;
	color: white;
}

.blue:hover 
{
	background-color: #5081b3;
	color: white;
}



/* ---------- Widths ---------- */
/* Page Container Style */
.page-full-width { padding: 0 1.875em;  }



/* ---------- Buttons ---------- */
.button 
{
	padding: 0.833em;
	
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
}

.dark 
{
	background-color: #3f4551;
	color: white;
}

.dark:hover 
{
	background-color: #5d6677;
	color: white;
}


/* ---------- Menu ---------- */
ul#nav 
{
	list-style-type: none;
}

ul#nav > li 
{
	float: left;
	margin-right: 0.312em; 
	position: relative;
}

		
ul#nav li.v-sep 
{
	border-right: 1px solid #3f4551;
	margin-right: 0.625em; 
	padding-right: 0.625em; 
}
	

/* ---------- Top + Header ---------- */
div#top-bar {
	background-color: #2a2e36;
	padding: 0.625em 0;
}

div#header { padding: 1.25em 0;  }


div#login-intro 
{
	background: transparent url('../images/icon1.png') no-repeat left center;
	padding: 0.312em 0 0.312em 3.125em;
}

div#login-intro h1 { margin: 0.312em 0 0 0; }
div#login-intro h5 { color: #9498a1; }



/* ---------- Content ---------- */
div#content 
{

	border: 1px solid #eeefef;
	padding: 1.875em 0; 
}

form#login-form
 {
	width: 18.75em; 
	margin: 0 auto;
}

div.side-menu 
{
	background: #3f4551;
	border: 1px solid #eeefef;
	width: 15%;
	margin-bottom: 1em; 
}

div.side-menu h3 
{
	text-transform: uppercase;
	font-weight: bold;
	margin:  1.25em; 
	color: white;
}
	
div.side-menu ul { list-style-type: none; }
	
div.side-menu ul li a 
{
	padding: 0.833em 1.25em; 
	border-top: 1px solid #f8f9fa;
	display: block;
	background: white no-repeat right center;
}
		

